name: strumok
description: "Strumok"
publish_to: 'none'
version: 1.24.13

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: "3.35.7"

dependencies:
  flutter:
    sdk: flutter
  intl:
  flutter_localizations:
    sdk: flutter
  #routing
  auto_route: ^10.2.3

  # auth + firebase
  googleapis_auth: ^2.0.0
  google_sign_in: ^7.2.0
  firebase_dart: ^1.5.3
  
  # storage
  path_provider: ^2.1.5
  file_selector: ^1.1.0
  sembast: ^3.8.5+2
  shared_preferences: ^2.5.3
  
  # video_player
  # video_player: ^2.10.0
  # video_player_platform_interface: ^6.6.0
  # fvp: ^0.35.0

  media_kit: ^1.2.6 # Primary package.
  media_kit_video: ^2.0.1 # For video rendering.
  media_kit_libs_video: ^1.0.7 # Native video dependencies.

  subtitle: ^0.1.4

  # platform
  device_info_plus: ^12.2.0
  package_info_plus: ^9.0.0
  # desktop
  window_manager: ^0.5.1
  # mobile
  flutter_foreground_task: ^9.1.0
  wakelock_plus: ^1.4.0
  screen_brightness_platform_interface: ^2.1.0
  screen_brightness: ^2.1.7
  volume_controller: ^3.4.0

  # widgets
  scrollable_positioned_list: ^0.3.8
  readmore: ^3.0.0
  material_symbols_icons: ^4.2874.0
  rounded_background_text: ^0.6.0
  cached_network_image: ^3.4.1

  # state managment
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3

  # utillity
  equatable: ^2.0.7
  json_annotation: ^4.9.0
  url_launcher: ^6.3.2
  collection: ^1.19.1
  http: ^1.6.0
  path: ^1.9.1
  
  #crypto
  pointycastle: ^4.0.0 
  
  #tracing
  logging: ^1.3.0
  logging_to_logcat: ^1.0.5
  sentry_flutter: ^9.8.0
  
  # isolate management
  content_suppliers_api:
    path: content_suppliers_api

  content_suppliers_rust:
    path: content_suppliers_rust

dev_dependencies:
  analyzer:
  build_runner:
  flutter_lints:
  custom_lint:
  riverpod_lint: ^3.0.3
  riverpod_generator: ^3.0.3
  auto_route_generator: ^10.2.6
  json_serializable: ^6.11.2
  flutter_launcher_icons: ^0.14.4


flutter:
  uses-material-design: true
  generate: true
  assets:
    - secrets.env

flutter_launcher_icons:
  android: true 
  image_path: "data/icons/strumok.png"
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground: "data/icons/strumok.png"
  windows:
    generate: true
    image_path: "data/icons/strumok.png"
