name: strumok
description: "Strumok"
publish_to: 'none'
version: 1.22.6

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: "3.35.4"

dependencies:
  flutter:
    sdk: flutter
  intl: 
  flutter_localizations:
    sdk: flutter
  #routing
  auto_route: ^10.1.0

  # auth + firebase
  googleapis_auth: ^2.0.0
  google_sign_in: ^7.1.0
  firebase_dart: ^1.3.1
  
  # storage
  path_provider: ^2.1.5
  sembast: ^3.8.4+1
  shared_preferences: ^2.5.2
  
  # video_player
  video_player: ^2.10.0
  video_player_platform_interface: ^6.6.0
  # fvp: ^0.35.0

  media_kit: ^1.2.1 # Primary package.
  media_kit_video: ^1.3.1 # For video rendering.
  media_kit_libs_video: ^1.0.7 # Native video dependencies.

  subtitle: ^0.1.4

  # platform
  device_info_plus: ^11.3.0
  package_info_plus: ^8.2.1
  # desktop
  window_manager: ^0.5.1
  # mobile
  flutter_foreground_task: ^9.1.0
  wakelock_plus: ^1.1.1
  screen_brightness_platform_interface: ^2.1.0
  volume_controller: ^3.4.0

  # widgets
  scrollable_positioned_list: ^0.3.8
  readmore: ^3.0.0
  material_symbols_icons: ^4.2805.0
  rounded_background_text: ^0.6.0
  cached_network_image: ^3.4.1

  # state managment
  riverpod_annotation: ^2.3.5
  flutter_riverpod: ^2.5.1

  # utillity
  equatable: ^2.0.7
  json_annotation: ^4.9.0
  url_launcher: ^6.3.1
  collection: ^1.19.0
  http: ^1.3.0
  
  #crypto
  pointycastle: 
  
  #tracing
  logging: ^1.3.0
  logging_to_logcat: ^1.0.5
  sentry_flutter: ^9.3.0
  
  # isolate management
  content_suppliers_api:
    path: content_suppliers_api

  content_suppliers_rust:
    path: content_suppliers_rust

dev_dependencies:
  analyzer: ^7.4.5
  build_runner: ^2.4.13
  auto_route_generator: ^10.2.3
  custom_lint: ^0.7.5
  json_serializable: ^6.9.0
  flutter_lints: ^6.0.0
  riverpod_generator: ^2.6.5
  flutter_launcher_icons: ^0.14.3

dependency_overrides:
  video_player: 
    git:
      url: https://github.com/Andro999b/packages
      path: packages/video_player/video_player
  video_player_platform_interface: 
    git:
      url: https://github.com/Andro999b/packages
      path: packages/video_player/video_player_platform_interface


flutter:
  uses-material-design: true
  generate: true
  assets:
    - secrets.env

flutter_launcher_icons:
  android: true 
  image_path: "data/icons/strumok.png"
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground: "data/icons/strumok.png"
  windows:
    generate: true
    image_path: "data/icons/strumok.png"
