name: Build Android

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
        default: ${{ github.ref_name }}
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build for Android"
    permissions: write-all
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Create secrets
        run: |
          echo "$SECRETS" | base64 -di > secrets.env
          echo "$GOOGLE_SERVICE_JSON" | base64 -di > android/app/google-services.json
          echo "$ANDROID_KEYSTORE" | base64 -di > android/app/strumok.jks
        env:
          SECRETS: ${{ secrets.SECRETS }}
          GOOGLE_SERVICE_JSON: ${{ secrets.GOOGLE_SERVICE_JSON }}
          ANDROID_KEYSTORE: ${{ secrets.ANDROID_KEYSTORE }}
        shell: bash
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'  
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
          cache: true
      - run: flutter --version
      - name: Build Flutter for Android
        run: flutter build apk --dart-define-from-file=secrets.env
      - name: Upload android outputs
        uses: actions/upload-artifact@v4
        with:
          name: android-outputs
          path: build/app/outputs/flutter-apk/*.apk
          retention-days: 7